<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple TODO Application</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Simple TODO Application</h1>

        <ul class="menu">
          <li class="menu__item">
            <a class="link" href="/">TODO</a>
          </li>
          <li class="menu__item">
            <a class="link" href="/done">DONE</a>
          </li>
        </ul>
    </header>
    <main class="main">
      <%= body %>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./scripts/index.js"></script>
  </body>
</html>
