<%- include('layout/layout.ejs', { body: body }) %>
<div class="task-form">
    <form action="/" method="POST">
        <input class="input" type="text" name="task" placeholder="I need to..." />
        <button class="task-form__button" type="submit">Create</button>
    </form>

    <% if (error) { %>
        <div class="alert alert--error">
            <%= error %>
        </div>
    <% } %>
    <% if (success) { %>
        <div class="alert alert--success">
            <%= success %>
        </div>
    <% } %>
    <% if (tasks.length === 0) { %>
        <h3 class="no-tasks">There is no tasks.</h3>
    <% } else { %>
        <ul>
            <% tasks.forEach((task) => { %>
                <li class="list__item">
                    <input type="checkbox" class="task-done-checkbox" data-task="<%= task.name %>" <% if (task.done) { %>checked<% } %>>
                    <span class="list__item-text"><%= task.name %></span>
                </li>
            <% }); %>
        </ul>
    <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./scripts/index.js"></script>
<script>
    $(document).ready(function() {
        $('.task-done-checkbox').change(function() {
            var taskName = $(this).data('task');
            var isChecked = $(this).is(':checked');

            $.ajax({
                url: '/api/tasks/' + taskName + '/done',
                method: 'POST',
                data: { done: isChecked },
                success: function(response) {
                    console.log(response.message);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
