<% if (tasks.length === 0) { %>
    <h3 class="no-tasks">There are no tasks.</h3>
<% } else { %>
    <ul class="list">
        <% tasks.forEach((task) => { %>
            <li class="list__item">
                <div class="checkbox"></div>
                <span class="list__item-text"><%= task.name %></span>
            </li>
        <% }) %>
    </ul>
<% } %>
